<ion-view view-title="О нас">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/port.png">
        <h2>Андрей Кирьянцев</h2>
        <p>Студенческий ИТ-клуб ПГУТИ</p>
        <p>reyzor2142@gmail.com, vk.com/arkuda63</p>
      </div>

      <div class="item item-body">

        <p>
          Буду надеяться что вам понравиться приложение и вы оцените его. Оно создавалось для того что бы люди не терялись и не забывали какие следующие пары. Всем добра от ИТ-клуба :)
        </p>

      </div>



    </div>
  </ion-content>
</ion-view>
