<ion-view view-title="Как добавить расписание ?">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        Качаете от сюда пример расписания
        <b class="card"> https://goo.gl/99lXj1 </b>
        <br/>
        Все разбито по четным неделям (chet) и нечетным (necet), а так же по дням
        Пары оформляются в виде сначала название пары, потом точка с запятой, а после точки с запятой - аудитория, где проходит.
        <br/> Пример <b class="card"> Информатика;2-33 </b>
        <br/> Дальше вы отсылаете мне на эмеил <b class="card"> reyzor2142@gmail.com </b> этот файл и имя группы.
      </div>
    </div>
  </ion-content>
</ion-view>
